<!DOCTYPE html>
<html th:fragment="layout (title, content, sytles, scripts)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:replace="${title}">Todo List Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

    <th:block th:replace="${sytles}" />
</head>
<body>
    <nav th:replace="~{layouts/partials/navbar :: navbar}"></nav>
    <div class="container p-2">
        <div th:replace="~{layouts/partials/messages :: notification}"></div>
        <div th:replace="${content}"></div>
    </div>
    <footer th:replace="~{layouts/partials/footer :: footer}"></footer>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <th:block th:replace="${scripts}" />
</body>
</html>