<!DOCTYPE html>
<html
  th:replace="~{layouts/layout :: layout(~{::title}, ~{::#content}, ~{}, ~{})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <div id="content" class="p-2">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h1 class="title">Home Page</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
