<!DOCTYPE html>
<html
  th:replace="~{layouts/layout :: layout(~{::title}, ~{::#content}, ~{}, ~{})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <div id="content" class="p-2">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h1 class="title" th:text="${todo.title}">Title</h1>
          </div>
          <div class="level-item">
            <span class="tag is-primary is-normal is-rounded" th:text="${todo.isPublic ? 'Public' : 'Private'}">Primary</span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a th:href="@{/todo/{todoId}/items/create(todoId=${todo.id})}" class="button is-primary">Add New Item</a>
          </div>
        </div>
      </div>
      <h6 class="subtitle is-5" th:text="${#temporals.format(todo.createdAt, 'MMM dd, yyyy')}">Subtitle</h6>
      <hr class="bd-hr" />
      <div class="container">
        <p class="mb-5" th:text="${todo.description}"></p>

        <nav class="panel">
            <p class="panel-heading"></p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search" />
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <p class="panel-tabs">
              <a class="is-active">All</a>
              <a>Completed</a>
            </p>
            <label class="panel-block" th:each="todoItem : ${todoItems}"
              th:id="${'item-' + ${todoItem.id}}"
              th:text="${todoItem.title}"
              >
              <input type="checkbox" />
              remember me
            </label>
          </nav>
        <div class="card mb-2" th:each="todo : ${todos}">
          <header class="card-header">
            <p class="card-header-title" th:text="${todo.title}">title</p>
          </header>
          <div class="card-content">
            <time
              datetime="2016-1-1"
              th:text="${#temporals.format(todo.createdAt, 'MMM dd, yyyy')}"
              >Date time</time
            >
            <div class="content" th:text="${todo.description}">description</div>
          </div>
          <footer class="card-footer">
            <a th:href="@{/todo/{id}(id=${todo.id})}" class="card-footer-item"
              >View</a
            >
            <a
              th:href="@{/todo/{id}/edit(id=${todo.id})}"
              class="card-footer-item"
              >Edit</a
            >
            <div class="card-footer-item">
              <form
                th:action="@{/todo/{id}/delete(id=${todo.id})}"
                th:method="delete"
                th:object="${todo}"
              >
                <!-- <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/> -->
                <button type="submit" class="button is-ghost">Delete</button>
              </form>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
